%tr
  %td= highlight user.name, params[:search]
  %td= user.course ? link_to(user.course.name, user.course) : '-'
  %td= user.group  ? user.group.name  : '-'
  %td= user.admin?
  %td
    = link_to 'edit', edit_resource_path(user)
    = link_to 'delete', resource_path(user), :confirm => 'really delete?', :method => :delete
