%section
  - if admin?
    .toolbar-hover.btn-group.pull-right
      = link_to 'edit', edit_resource_path(project), class: 'btn'
      = link_to resource_path(project), :confirm => 'really delete?', :method => :delete, class: 'btn', title: 'destroy' do
        %i.icon-trash
  
  %h3= link_to project.name, [parent, project]
  
  %p
    = truncate project.description, :length => 180, :separator => '. '
    = link_to 'more', [parent, project]

  %p
    Group:
    - if project.group
      = project.group.name
      (#{user_list project.group.users})
    - else
      \-
