%h2= @page_title = 'Create a group'

= simple_form_for Group.new, :url => group_path do |f|
  
  = f.input :project_id, :collection => Project.available.all, :required => true
  = f.input :partner_email, :as => :email, :required => true
  
  = f.button :submit, :disable_with => t(:wait)
