!!!
%html
  %head
    %title #{@page_title} | AWE Mgmt
    = stylesheet_link_tag 'application', :media => "all"
    = csrf_meta_tags
  %body
    = render :partial => '/shared/development_bar' if development_mode?
    = render :partial => '/shared/header'
    
    = flash_messages
    %section.container= yield
    = javascript_include_tag "application"
