!!!
%html
  %head
    %title #{@page_title} | AWE Mgmt
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    %header
      = render :partial => '/shared/navigation'
    %h1 AWE Mgmt
    = flash_messages
    %section= yield
    = javascript_include_tag "application"
